.pilll {
    border-radius: 2rem;
    border: rgb(245, 242, 242) 2px solid;
    box-shadow: 0 0 30px rgb(205, 204, 204);
   
    
  }

  .suc{
    width: 150px; 
    height: 150px; 
    margin-left:41px; 

  }
  